.container {
    background-color: green;
    min-height: 100vh;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px
}
.information1 {
    max-width: 500px;
}
.title {
    margin-top: 20px;
    font-size: clamp(26px,5vw,32px);
}
@media(max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
    }
}